
:root{
    --bgcolor:#0D0D0D;
    --primary:#D93232;
    --secondary:#F25C05;
    --complement:#D98E04;
    --complement2:#D9A404;
    --complement3:#df7676f5;
    --complement4:#fce15bb4;

}
/* GLOBAL */

  *, *:before, *:after {
    box-sizing: inherit;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
.body-bgGreen{
    /* background-color: var(--bg-green); */
    /* background-image: url("../assets/img/aple.svg"); */
    background: rgb(217,50,50);
    background: linear-gradient(279deg, rgba(217,50,50,1) 31%, rgba(13,13,13,0.835171568627451) 100%);
    font-family: 'Open Sans', sans-serif;
    position: relative;
}


body::after{
    content: '';
    background-color: #0d0d0dc0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
    display: flex;
    justify-content: space-around;
}
.mt-2{
    margin-top: 5rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mg-rght-lft{
    margin-left:4rem;
    margin-right: 4rem;
} 
h1{
    font-size: 3rem;
}
p{
    font-size: 1.4rem;

}

.pad{
    padding: 4rem 0;
}
.sem-circle {
    border-radius: 2rem;
}

.shadow{
    box-shadow: 0px 0px 15px 4px rgba(89,120,67,0.7);
-webkit-box-shadow: 0px 0px 15px 4px rgba(89,120,67,0.7);
-moz-box-shadow: 0px 0px 15px 4px rgba(89,120,67,0.7);
}
.shadow-bottom{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.7);
-webkit-box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.7);

}
.shadow-top{
    box-shadow: 3px 2px 6px 10px rgba(0,0,0,0.7) ;
    -webkit-box-shadow: 3px 2px 6px 10px rgba(0,0,0,0.7)  ;
    -moz-box-shadow: 3px 2px 6px 10px rgba(0,0,0,0.7) ;
    
}
.icons-color{
    font-size: 2.4rem;
    color: var(--dark);
}
a{
    text-decoration: none;
}
/* HEADER */
.header-banner{
    /* background-image: url("https://gallery.yopriceville.com/var/albums/Backgrounds/Vegetable_Background.jpg?m=1478277468");  */
    background-color: #d93232d3;
    width: 100%;
    position: relative;
}
.header{
    padding-top: 2rem;
    position: relative;
    display: flex;
    padding: 2rem;
    justify-content: center;
    /* box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) ;
    -webkit-box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) ;
    -moz-box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) ; */
}
@media (min-width: 700px){
        .header{
            justify-content: space-around;
            padding: 0rem;

        }
}
.header-banner::before {
    content: '';
    /* background-color: #383838b0; */
    width: 100%;
    height: 100%;
    position: absolute;
    /* border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem; */
}



/* LOGO */
.box-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0d0dd5;
    padding: 1rem .8rem;
    border-top-right-radius:50vh;
    border-top-left-radius:5vh;
    border-bottom-left-radius:50vh;
    border-bottom-right-radius:50vh;
}
.logo {
    width: 4rem;
    height: 4rem;
}
.logo-title {
    display: flex;
    position: relative;
    top: 0px;
}
.logo-title h1 {
    font-size: 1.2rem;
    color: var(--complement2);

}
.title-left{
    position: relative;
    top: -20px;
    left: -10px;
    transform: rotate(45deg);
}

.title-right{
    position: relative;
    top: -20px;
    right: -10px;
    transform: rotate(-45deg);
}


@media (min-width: 700px) {

    .box-logo{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        box-shadow: none;
    }
    
    .logo-title h1 {
        font-size: 1.4rem;
        padding: 0 0;
    }
    .title-left{
        position: absolute;
        top: -50px;
        left: -40px;
        transform: rotate(0deg);
    }
    .title-center{
        display: none;
    }
    .title-right{
        position: absolute;
        top: -50px;
        right:-35px;
        transform: rotate(0deg);
    }
    .logo {
        width: 4rem;
        height: 4rem;
    }
    
  
}
/*ICONS*/
.icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.icons-burger{
    background-color: var(--complement2);
    width: 45px;
    height: 40px;
    padding: 0 .2rem;
}
.line-1,
.line-2,
.line-3{
    width: 100%;
    max-height: 100%;
    padding: 2.5px;
    background-color:#0d0d0dcb;
    border-radius: 4rem;
    margin-bottom: 10px;
}
.line-3{
    margin-bottom: 0;
}
.icons-equis{
    width: 50px;
    height: 50px;
    /* border: 3px solid #0d0d0dcb;
    border-radius: 50%; */
    position: relative;
}
.equis-1{
    position: absolute;
    transform: rotate(45deg);
}
.equis-2{
    position: absolute;
    transform: rotate(-45deg);
}
.icons{
    width: 40px;
    height: 40px;
    /* border: 3px solid #0d0d0dcb;
    border-radius: 50%; */
    position: relative;
}
.icons-face{
    width: 100%;
    height: 100%;
    background-color: var(--bgcolor);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.icons-face::after{
    position: absolute;
    content: "f";
    font-size: 2.8rem;
    font-weight: 900;
    font-family: 'Inter Tight', sans-serif;
    top:-5px;
    left: 10px;
    color: var(--primary);
}
.icons-linkedin{
    width: 100%;
    height: 100%;
    background-color: var(--bgcolor);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.icons-linkedin::after{
    position: absolute;
    content: "in";
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    top: 0px;
    left: 5px;
    color: var(--primary);
}
.icons-instagram{
    border: 4px solid var(--bgcolor);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border: 4px solid var(--bgcolor);
    border-radius: 50%;
    width: 60%;
    height: 60%;
    position: relative;
}
.circle::after{
   position: absolute;
   content: '';
   top: -5px;
   right: -10px;
   border: 4px solid var(--bgcolor);
   border-radius: 50%;
   width: 8px;
   height: 8px;
}

/*Nav */

.menu-burger{
    display: flex;
}
.menu {
    background:#d9a404de;
    border-radius: .4rem;
    padding: .6rem 0;
    font-size: 2.6rem;
    position: fixed;
    top:2%;
    right: 0%;
    z-index: 2;
}
.burger-nav{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#d9a404f1;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
}
.burger-nav a {
    margin-bottom: 2rem;
    color: var(--bgcolor);
    font-size: 1.6rem;
    font-weight: 700;
}
.close{
    font-size: 3rem;
    position: absolute;
    top:20px;
    right: -15px;
}


input[id="4"]:checked ~ .burger-nav{
    display: flex;
    /* animation: menu-close 2s; */
    margin-top: -500%;
    transition: 1s;
}
input[id="5"]:checked ~ .burger-nav{
    display: flex;
    
    animation: menu-animation 1s;
}
@keyframes menu-animation{
    0%{
        margin-top: -500%;
    }
    100%{
        margin-top: 0%;
    }
}



.nav-bar{
    display: none;
}
.nav-bar a {
    color: var(--complement2);
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: #d93232a8;
    box-shadow: 2px 3px 5px var(--bgcolor) inset;
    border-radius: 4rem;
    transition: .5s;
    padding: .8rem 1.4rem;
}

@media (min-width: 700px) {
    .nav-bar{
        display: flex;
        flex-direction: row;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 2rem;
    }
    .menu-burger{
        display: none;
    }
    
    .nav-bar a {
        margin-right: 3rem;
    }
    .nav-bar a:last-of-type{
        margin-right: 0;
    }
}


    .box-nav{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-end;
    }

    .nav-bar{
        font-weight: 700;
    }
    .nav-bar a {
        font-size: 1rem;
        padding-top: 1rem;
    }
    .nav-bar a:last-of-type{
        margin-right: 0;
    }
  


/*SECTION SLIDER */
.container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    border-bottom: 1rem solid #d9a404ee; 
}
.container-all{
    position: relative;
    width: 100%;
    height: 15rem;
    opacity: 0.9;
    overflow: hidden;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
}
.item-slide img {
    width: 170%;
    height: 200%;
}
.slide{
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation: slide 15s infinite alternate forwards;

}
@media(min-width:780px){
    .container-all{
        height: 25rem;
    }
    .slide{
    max-width: 100%;
    max-height: 100%;

}
.item-slide img {
    width: 100%;
    height: 200%;
}
}
@keyframes slide {
    33%{
        transform: translate3d(calc(-100% * 0),0,0);
        border-radius: 40%;
    }
    66%{
        transform: translate3d(calc(-100%*1), 0,0);
    }
    100%{
        transform: translate3d(calc(-100% *2 ),0 , 0);
    }
}
.pagination {
    position:absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background:rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
@media(min-width:700px){
    .pagination {
        bottom: 40px;
        left: 0;
    }
    .pagination-item{
        width: 1.6rem;
        height: 1.6rem;
    }
}
.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;

}
.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% *1),0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% *2),0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
.slider-text{
    display: none;
}
@media(min-width:800px){
    .slider-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        content: '';
        right: 2%;
        z-index: 1;
        background-color: #0d0d0da1;
        padding: 2% 0% 3% 2%;
        border-radius: .5rem;
    }
}
.slider-text h2{
    font-size: 2rem;
    color: #d9a404f8;
}
.slider-p{
    margin-top: 1rem;
    width: 80%;
}
.slider-p p{
    color: #d9a404d2;
    font-size: 1rem;
}

/*COMBO SECTION */
.combo-section {
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    position: relative;
}
.combo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    text-align: center;
}
.combo-image{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: 0 1rem;
}
.combo-image img{
    width: 100%;
    height: 100%;
}
.btn-combo{
    padding: .5rem 2rem;
    color: var(--complement2);
    background: rgb(217,50,50);
    background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 100%);
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    border-radius: .5rem;
    position: absolute;
    bottom: -100px;
    right: 0%;
    left: 0%;
}
@media (min-width:800px) {
    .combo-section {
        display: flex;
        flex-direction: row;
        margin: 6rem 0;
        position: initial;
    }
    .combo{
        display: flex;
        padding: 2rem 4rem;
        text-align: start;
        position: relative;
    }
    .combo-image{
        padding: 0 2rem;
        margin-top: 0;
    }
    .btn-combo{
        padding: .5rem 4rem;
        color: var(--complement2);
        background: rgb(217,50,50);
        background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 100%);
        font-weight: 700;
        font-size: 1.4rem;
        border: none;
        border-radius: .5rem;
        position: absolute;
        bottom: -90px;
        right: 60px;
        left: auto;
    }
    
    
    
}
.btn-combo:hover{
    animation: btn .3s linear;
    background: rgb(217,50,50);
        background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 0%);
    
}
@keyframes btn {
    0%{
        background: rgb(217,50,50);
        background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 80%);
    }
    25%{
        background: rgb(217,50,50);
        background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 60%);
    }
    50%{
        background: rgb(217,50,50);
    background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 40%);
    }
    75%{
        background: rgb(217,50,50);
    background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 20%);
    }
    100%{
        background: rgb(217,50,50);
        background: linear-gradient(279deg, rgba(217,50,50,0.742734593837535) 0%, rgba(13,13,13,0.14889705882352944) 0%);
    }
}

.combo h2 {
    padding-left: 1rem;
    font-size: 2.4rem;
    color: var(--complement2);
}
.text-combo{
    margin-top: 4rem;
    color: var(--complement4);
    font-size: 1rem;
}



/* SECTION MENU */
.box-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    padding: 4rem 1rem;
    border-top: 5px solid var(--complement2);
    border-bottom: 5px solid var(--complement2);
    position: relative;
}
.box-title{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 2rem;
    color: var(--bgcolor);
    background-color: #d9a404;
    border-radius: .5rem;
}
.box-food{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food{
   /* background-image: url(../assets/food/bg-food.jpg); */
   background: rgb(13,13,13);
background: linear-gradient(90deg, rgba(13,13,13,0.5550595238095238) 0%, rgba(217,50,50,1) 50%, rgba(13,13,13,0.5438550420168067) 100%);
    border-bottom: 15px solid var(--complement2);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    width: 90%;
    height: 100%;
    margin: 4rem 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 10px 10px var(--bgcolor);
    position: relative;
}
.container-food{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}
.image{
    padding: .5rem .5rem;
    border-radius:none;
    box-shadow: .5rem .5rem .5rem var(--bgcolor) inset;
    background-color: #d9a404b0;
    height: 90%;
}

.image img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 5px var(--bgcolor);
}
.image img:hover{
    transform: scale(1.5, 1.5);
    transition: .5s;
}


.title-food{
    margin-top: 1rem;
    color: var(--bgcolor);
    font-size: 1.2rem;
    text-align: center;
    box-shadow: .5rem .5rem .5rem var(--bgcolor) ;
    background-color: #d9a404;
    border-radius:.5rem ;
    padding: .8rem 1rem;
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;

}
.box-food-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.food-text{
    padding: .5rem 1rem;
    /* background-color: #d9a404b0; */
    background-color: var(--primary);
    box-shadow: 3px 2px 6px 5px rgba(0,0,0,0.7) ;
    -webkit-box-shadow: 3px 2px 6px 5px rgba(0,0,0,0.7) ;
    -moz-box-shadow: 3px 2px 6px 5px rgba(0,0,0,0.7) ;
    margin: .8rem 0;
    width: 80%;
    text-align: center;
}
.food-text:hover{
    transform: scale(1.5, 1.5);
    transition: .5s;
}

.food-text p{
    color: var(--bgcolor);
    font-size: 1.1rem;
}
.box-btn{
    position: absolute;
    bottom: -25px;
    
}
.btn-menu{
    padding: .5rem 6rem;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--primary);
    border-radius: .5rem;
    border: none;
}
@media(min-width: 700px){
    .box-menu{
         margin: 4rem 0; 
        /* border: .5rem solid var(--complement2); */
        /* border-radius: 1rem; */
         /* background-color: #0d0d0dab; */
        /* border-radius: 10rem; */
        background-image: url(../assets/img/burger-slider.jpeg);
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;        
    }
    .box-menu::after{
        position:absolute;
        content: '';
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        /* margin: 4rem 3rem; */
        /* border: .5rem solid var(--complement2); */
        /* border-radius: 1rem; */
        background-color: #0d0d0da9;
        /* border-radius: 20%; */
        /* border-radius: 10rem; */

    }
    .box-title{
        font-size: 2rem;
        padding: .5rem 2rem;
        position: absolute;
        top: -40px;
    
    }
    .box-food{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        }
    .food{
        flex-direction: row;
        justify-content: space-around;
        width: 25rem;
        height: 15rem;
        margin-right: 4rem;
        border-top-right-radius:50vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 50vh;

    }
    .image{
        height: 100%;
    }
 
    .title-food{
        margin-top: 2rem;
        font-size: 1.5rem;
        padding: .5rem .8rem;
        right: unset;
        left: 50px;
    }
    .box-food-text{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .food-text{
        display: flex;
        align-items: center;
        max-width: 12rem;
        width: 100%;
        height: 50%;
    }
    .box-btn{
        position: absolute;
        bottom: -43px;
    }
    .btn-menu{
        padding: .6rem 8rem;
        border: 2px solid var(--bgcolor);
        border-bottom-left-radius: 50rem;
        border-bottom-right-radius: 50rem;
    }
    .btn-menu:hover{
        border: 1px solid var(--complement2);
        color: var(--complement2);
    }
}
/*SECTION CONTACT */
.section-aboutme{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--complement2);
    margin: 6rem 0;
}
@media (min-width:800px) {
    .section-aboutme{
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--complement2);
        margin: 6rem 0;
    }
    
}
.contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 4rem 0;
    box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.75);
}
.contact-box h2 {
    color: var(--bgcolor);
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.contact-data{
    display: flex;
    justify-content: space-around;
}
.contact-data input{
    margin-bottom: 1rem;
    padding: .5rem 4rem;

}
.contact-comment{
    display: flex;
    align-items: center;
}
.contact-comment textarea{
    background-color: var(--complement4);
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    width: 15rem;
    height: 5rem;
}
.btn-contact{
    margin-top: 2rem;
    width: 100%;
    padding: .5rem 0;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--primary);
    background: var(--complement4);
}
.contact-banner{
    background-image: url(../assets/img/bg-cow1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: none;
}
@media (min-width:800px) {
    .contact-banner{
        box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.75);
    }
}
.contact-banner::after{
    position: absolute;
    content: '';
    background-color: #0d0d0d79;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
}
.banner-text h2 {
    color: var(--complement2);
    font-size: 2.4rem;
}
.banner-p{
    color: var(--complement4);
    margin-top: 4rem;
    padding: 0 2rem;
}
.btn-aboutme{
    color: var(--bgcolor);
    padding: .5rem 6rem;
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    border-radius: .2rem;
    background-color: var(--complement2); 
    margin-top: 2rem;
}
@media (min-width:800px) {
    .btn-aboutme{
        margin-top: 0;
    }
    
}
/* FOOTER */ 
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    margin-top: 4rem;
    padding: 3rem 0;
    max-width: 100%;

}

@media (min-width:700px) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
}
.footer-nav{
    width: 70%;
}

.box-logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0d0dd5;
    margin-bottom: 4rem;
    padding: 1rem .8rem;
    border-top-right-radius:50vh;
    border-top-left-radius:5vh;
    border-bottom-left-radius:50vh;
    border-bottom-right-radius:50vh;

}


.logo-footer{
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
}
.logo-title-footer {
    display: flex;
    position: relative;
    top: -70px;
}
.logo-title-footer h1 {
    font-size: 1.2rem;
    color: var(--complement2);

}
.title-left-footer{
    position: relative;
    top: -20px;
    left: -10px;
    transform: rotate(45deg);
}

.title-right-footer{
    position: relative;
    top: -20px;
    right: -10px;
    transform: rotate(-45deg);
}

.contact-footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
 }

 @media (min-width : 700px) {
    .contact-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
     }
    
 }

 .contact{
    text-align: center;
 }
 .contact h4 {
    margin-top: 0;
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: 700;
 }
.footer-nav {
    flex-direction: column;
}


 .nav-bar-footer{
     font-weight: 700;
     font-size: 1rem;
     flex-direction: column;
     margin-bottom: 4rem;
     display: none;
 }
 @media(min-width:700px){
    .nav-bar-footer{
        display: flex;
    }
}
 @media (min-width : 500px) {
    .nav-bar-footer{
        margin-bottom: 0;
    }
    
 }
 .nav-bar-footer a {
    margin-bottom: 2rem;
    text-decoration: none;
    color: var(--bgcolor);
 }
 .nav-bar-footer a:last-of-type{
     margin-bottom: 0;
 }

.nav-made{
    justify-content: space-between;
}

.box-icons{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.box-icons a{
    margin-right: 1.6rem;
}
.box-icons a:last-of-type{
    margin-right: 0;
}



/* FORM */
.form-container{
    display: flex;
    flex-direction: row;
}
.form-header{
    background-color:#fce15be5;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) ;
    -webkit-box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) ;
    -moz-box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) ; */
}
@media(min-width: 700px){
    .form-header{
        display: block;
        padding: 0;
    }
}

#a-footer a{ 
    color: var(--primary); 
}
#a-footer a:hover{ 
    background-color:#fce15b75; 
    box-shadow: 5px 6px 10px var(--complement2) inset;
}
#a-footer { 
    margin-bottom: .5rem;
}
.banner-form{
    display: none;
}

.box-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/wp8746186.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
     /* box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.75)inset;
    -webkit-box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.75)inset;
    -moz-box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.75)inset;  */
    
}
.box-form::after{
    content: '';
    position: absolute;
    background-color: #df7676fa;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-form{
    z-index: 2;
    padding: 6rem 2rem;
    border-radius: 4rem;
    /* background-image: url(../assets/img/contactUs-bg.jpg); */
    /* box-shadow: -6px 8px 10px 6px rgba(0,0,0,0.7) inset;
        -webkit-box-shadow: -6px 8px 10px 6px rgba(0,0,0,0.7) inset;
        -moz-box-shadow: -6px 8px 10px 6px rgba(0,0,0,0.7) inset; */
    
}
@media(min-width:860px){
    .form-container{
        display: flex;
        background-image: url("https://wallpapercave.com/wp/wp8746186.jpg");
        width: 100%;
        height: 100%;
        
    }
    .banner-form{
        display: flex;
        padding: 40% 20%;
       
    }
    .box-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-image: none;
        background-color: #df7676f5;
    }
    .card-form{
        /* background-image: url(../assets/img/contactUs-bg.jpg); */
        /* box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.75) inset; */

        
    }
}



.title{
    margin-bottom: 6rem;
    max-width: 50%;
}
.title h2{
    font-size: 2.8rem;
    padding: 1rem 0 1rem 1rem;
    color: var(--bgcolor);
    border-bottom: 5px solid #fce15bb4;
    border-bottom-left-radius:4rem ; 
    /* box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 7px 10px rgba(0,0,0,0.75) inset; */
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-names{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.box-names label{
    margin-bottom: 1rem;
}

.box-names input{
    margin-bottom: 2rem;
}
.box-datas{
    display: flex;
    flex-direction: column;
}
.lastname{
    margin-bottom: 2rem;

}
@media(min-width:1200px) {
    .box-names{
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .lastname{
        margin-left: 1.5rem;
    }
}
.box-datas label{
    margin-left: 0;
}
.box-datas input{
    margin-top: 1rem;
}

input:not(.btn-submit){
    border: none;
    padding: .8rem 1.2rem;
    background-color: #fce15bb4;
    color: var(--bgcolor);
    font-size: 1rem;
    border-radius: .5rem;
    
outline-color: var(--complement2);    
}

label{
    color:var(--bgcolor);
    font-size: 1.2rem;
    margin-right: 1rem;
}
.box-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.btn-submit{
    padding: .5rem 4rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
background-color: #fce15bb4;
    color: #d93232c5;
    font-size: 1.6rem;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
}
.btn-submit:hover{
    background-color: transparent;
    color: #fce15bb4;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75) inset;
}
.footer-form{
    margin-top: 0;
}



/* SECTION ABOUTME*/

.box-contactus{
    display: flex;
    flex-direction: column;
    background-color: var(--complement4);
    width: 100%;
}
.box-image{
    background-color: var(--complement3);
    width: 100%;
    height: 20rem;
    z-index: 1;
    text-align: center;
}
.box-slogan{
    display: flex;
    align-items: flex-end;
    height: 30rem;
    background-color: #fce15bb4;
    position: relative;
    align-items: flex-end;
}
.box-slogan-2{
    display: flex;
        justify-content: space-around;
        width: 100%;
    flex-direction: row-reverse;
    height: 20rem;
    align-items: center;
/* background-color: #df7676fa; */
background-color: var(--complement3);
position: relative;
}
.box-slogan-3{
    display: flex;
        justify-content: space-around;
        width: 100%;
    height: 20rem;
    align-items: center;
    background-color: #fce15bea;
position: relative;

}
.slogan{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.slogan-image{
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0.3;
    bottom: 0;
}
.slogan-image-2{
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.2;
}
@media (min-width:700px) {
    .box-slogan, .box-slogan-2, .box-slogan-3{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .box-slogan{
        height: 30rem;
        align-items: flex-end;
        background-color: #fce15bb4;
    }
    .slogan-image{
        display: flex;
        justify-content: center;
        padding: 5rem 5rem 2rem 5rem;
        width: 100%;
        height: 80%;
    }
    .slogan-image-2{
        display: flex;
        justify-content: center;
        position: relative;
        opacity: 1;
        padding-bottom: 2rem;
        width: 100%;
        height: 90%;
    }
    .slogan-image{
        position:initial;
        opacity: 1;
    }
}




.box-slogan h1{
    font-size: 2rem;
    color: var(--bgcolor);
    width: 100%;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
.box-slogan-2 h1, .box-slogan-3 h1{
    font-size: 2rem;
    color: var(--bgcolor);
    width: 100%;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
.p-slogan{
    color: var(--bgcolor);
    margin-bottom: 2rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}
@media (min-width:700px) {
    .p-slogan{
        text-align: start;
    }
    
}

.btn{
    padding: .8rem 1rem;
    border-radius: 4rem;
    font-size: .8rem;
    font-weight: 800;
    margin-right: 3rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-black{
    background-color: var(--bgcolor);
    color: var(--primary);
    border: solid 1px var(--primary);
}
.btn-black:hover{
    background-color: var(--primary);
    color: var(--bgcolor);
    border: solid 1px var(--bgcolor);
}








.card-text-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.card-text-contact h2 {
    font-size: 1.8rem;
    color: var(--complement4);
}
.card-text-contact::after{
    position: absolute;
    content: '';
    background-image: url('../assets/img/bg-cow1.png');
    background-position: center;
    background-size: cover;
    bottom: -200px;
    width: 100%;
    height: 100%;
}


.card-p{
    background-color: #d93232da;
    border-radius: 2rem;
    
    padding: 0 .5rem;
    color: var(--bgcolor);
    width: 95%;
    box-shadow: 3px 2px 6px 5px rgba(0,0,0,0.7) ;
    -webkit-box-shadow: 3px 2px 6px 5px rgba(0,0,0,0.7) ;
    -moz-box-shadow: 3px 2px 6px 5px rgba(0,0,0,0.7) ;
}
.card-p p {
    font-size: 1rem;
}
