:root { 
    --bg-green: #8CF740;
    --yellow1:#FCE15B;
    --yellow2: #DFE000;
    --yellow3:#F7F134;
    --darkgreen: #2FE046;
    --darkgreen2:#44781F;
    --bluelight: #35FCAB;
    --dark: #597843;

}
/* GLOBAL */
html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: var(--bg-green);
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
}
.mt-2{
    margin-top: 5rem;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.4rem;

}

.pad{
    padding: 4rem 0;
}
.sem-circle {
    border-radius: 2rem;
}
.bg-yellow {
    background-color:var(--yellow1);
}
/* HEADER */
header{
    background-image: url("https://gallery.yopriceville.com/var/albums/Backgrounds/Vegetable_Background.jpg?m=1478277468");
    background-position: center center;
    background-size:cover;
    width: 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
.header{
    padding: 5rem;
    position: relative;
}
header::before {
    content: '';
    background-color: #3838386c;
    width: 125rem;
    height: 39.5rem;
    position: absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    overflow: hidden;
}


/* LOGO */
.box-logo{
    text-align: center;
    background-color: var(--darkgreen);
    border-radius: 50%;
}
.logo {
    width: 15rem;
    height: 15rem;
}
.logo-title {
    display: flex;
}
.logo-title h1 {
    font-size: 1.6rem;
    color: var(--yellow3);
    border-bottom: 4px solid var(--yellow3);
    border-radius: 4rem;
}
.title-left{
    position: relative;
    top: -70px;
    left: 60px;
    transform: rotate(35deg);
}
.title-right{
    position: relative;
    top: -70px;
    right: -60px;
    transform: rotate(-35deg);
}

@media (min-width: 1400px) {
    .logo{
        width: 20rem;
        height: 20rem;
    }
    
    .logo-title h1 {
        font-size: 3rem;
        padding: 0 3rem;
        border-bottom: 4px solid var(--yellow3);
        border-radius: 4rem;
    }
    .title-left{
        position: relative;
        top: -92px;
        left: 55px;
        transform: rotate(35deg);
    }
    .title-right{
        position: relative;
        top: -100px;
        right: 35px;
        transform: rotate(-35deg);
    }
}

/*Nav */

.nav-bar{
    display: none;
}

@media (min-width:800px){
    .nav-bar{
        display: flex;
        flex-direction: row;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 0;
    }
    .nav-bar a {
        color: white;
        text-decoration: none;
    }
    
    .nav-bar a:hover {
        background-color: var(--yellow3);
        border-radius: 4rem;
    }
    .nav-bar a {
        color: var(--darkgreen2);
        text-decoration: none;
        margin-right: 2rem;
    }
    .nav-bar a:last-of-type{
        margin-right: 0;
    }
}

.titles{
    display: none;
}

@media (min-width: 1000px) {
    .box-nav{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-end;
    }

    .nav-bar{
        font-weight: 700;
        font-size: 1.4rem;
    }
    .nav-bar a {
        color: var(--darkgreen2);
        text-decoration: none;
        margin-right: 2rem;
        padding: .8rem 1.5rem;
    }
    .nav-bar a:last-of-type{
        margin-right: 0;
    }
  
    .titles {
        display: none;
        flex-direction: column;
        background-image: url("https://gallery.yopriceville.com/var/albums/Backgrounds/Vegetable_Background.jpg?m=1478277468");
        background-size: cover;
        padding: 4rem 4rem;
        border-radius: 4rem;
    }
    .titles h2{
        text-align: end;
        color: var(--yellow3);
        background-color: var(--darkgreen);
        border-radius: 4rem;
        padding: .5rem 1.5rem;
        font-size: 2rem;
        margin: .8rem 0;
    }
    .titles h2:last-of-type{
        margin-bottom: 0;
    }
}



/* SECTION SLOGAN */

.box-slogan{
    margin-top: 4rem;
    border-radius: 4rem;
    width: 100%;
    padding: 0 5rem;
    border-right:  5px solid  #383838;
    box-shadow: 16px 0px 10px -10px rgba(56,56,56,1);
    -webkit-box-shadow: 16px 0px 10px -10px rgba(56,56,56,1);
    -moz-box-shadow: 16px 0px 10px -10px rgba(56,56,56,1);
}
.box-slogan h1{
    margin: 4rem 0;
    color: #383838;
    width: 60%;
}


.p-slogan{
    color: #383838;
    margin-bottom: 2rem;
    width: 70%;
    font-size: 1.5rem;
}
.btn{
    padding: 1rem 1rem;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 800;
    margin-right: 3rem;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:last-of-type{
    margin: 0;
}
.btn-black{
    background-color: #383838;
    color: #fff;
    border: solid 1px #fff;
}
.btn-black:hover{
    background-color: #fff;
    color: rgb(31, 30, 30);
    border: solid 1px #383838;
}
.btn-#f5f5f5{
    background-color: #fff;
    color: #383838;
    border: solid 1px #383838;
}
.btn-white:hover{
    background-color: #383838;
    color:#fff;
    border: solid 1px #fff;
}

.box-image{
    display: flex;
    justify-content: center;
   width: 100%;
   padding: 0 4rem;
}
.box-image img {
    width: 40rem;
    border-radius: 40%;
    height: 30rem;
}